{% extends 'base.html' %}

{% block content %}

<div class="allrecipewrap">
<form method="get">
    <fieldset class="allrecipes">
        <legend class="allrecipes"><h3>Recipes</h3></legend>
         {% for recipe in recipes %}
        <div class="content">
            <div class="recipe">
                <div class="image">
                    <a href="{% url 'full_recipe' recipe.id %}"><img src="{{ recipe.photo.url }}"></a>
                    <div class="name">
                        <h4>{{ recipe.title }}</h4>
                    </div>
                </div>
                <ul class="media">
                    <li>{{ recipe.get_category_display }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
{#        {% csrf_token %}#}
{#            <input class="form" name="q" type="text" placeholder="Search Recipes">#}
{#            <input type="submit" id="button" value="Search">#}
{#        {% if found_entries %}#}
{#            <p>Here are all recipes containing the word(s) "{{ query_string }}"</p>#}
{#            {% for recipe in found_entries %}#}
{#                {% if user.is_authenticated %}#}
{#                    <p class="links"><a href="{% url 'full_recipe' recipe.id %}">{{ recipe.title }}</a></p>#}
{#                {% endif %}#}
{#                <p class="links"><a href="{% url 'all_recipes' %}">Back to all Recipes</a></p>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#        {% if query_string and not found_entries %}#}
{#            <p>No results found.</p>#}
{#            <br>#}
{#            <p class="links"><a href="{% url 'all_recipes' %}">Back to all Recipes</a></p>#}
{#        {% endif %}#}
{#    <br>#}
{#    <p class="links">#}
{#        <br>#}
{#        <a href="{% url 'add_recipe' %}">Add a new recipe</a>#}
{#    </p>#}
    </fieldset>
</form>
</div>
{##}

{#{% endfor %}#}
{#{% if user.is_authenticated %}#}
{#    <div class="add-recipe">#}
{#        <a href="{% url 'add_recipe' %}">Add a new recipe</a>#}
{#    {% endif %}#}
{#    </div>#}

{% endblock %}