<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'shoppinglist.js' %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body>
<div class="outer">
{% block header %}
    <header id="logged">
        {% if user.is_authenticated %}
            <li id="user">Hello {{ user.first_name }}</li>
        {% endif %}
    </header>
    <div id='menu'>
        <ul>
            <li id="all" class="active"><a  href="{% url 'recipes' %}">All Recipes</a></li>
            <li id="add"><a href="{% url 'add_recipe' %}">Add a New Recipe</a></li>
            <li id="shop"><a href="{% url 'shoppinglist' %}">Shopping List</a></li>
        {% if user.is_authenticated %}
            <li id="logout"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li id="register"><a href="{% url 'register' %}">Register</a></li>
            <li id="login"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <form method="get">
                {% csrf_token %}
            <input class="search" name="q" type="text" placeholder="Search Recipes">
            <input type="submit" id="searchbutton" value="Search">
        {% if found_entries %}
            {% for recipe in found_entries %}
{#                {% if user.is_authenticated %}#}
                    <p class="links"><a href="{% url 'full_recipe' recipe.id %}">{{ recipe.title }}</a></p>
{#                {% endif %}#}
            {% endfor %}
        {% endif %}
        {% if query_string and not found_entries %}
            <p>No results found.</p>
        {% endif %}
        </form>
        </ul>
    </div>
{% endblock %}

    {% block content %}{% endblock %}

</div>

<script>
$('#menu').on('click', 'ul li', function(){
    $('#menu ul li').removeClass('active');
    $(this).addClass('active');
});

{#    $('#menu li a').click(function(e) {#}
{#    var $this = $(this);#}
{#    if (!$this.hasClass('active')) {#}
{#        $this.addClass('active');#}
{#      }#}
{#    e.preventDefault();#}


</script>
</body>
</html>