{% extends 'base.html' %}
{% block content %}
<div class="wrap">
    <fieldset>
        <legend><h3>{{ recipe.title }}</h3></legend>
        <p class="photo">
            <img src="{{ recipe.photo.url }}" width="400" height="200" alt={{ recipe.title }}>
        </p>
            {{ recipe.get_category_display }}

    <h2>Ingredients</h2>
            {{ recipe.ingredients }}

    <br>
    <h2>Directions</h2>
            {{ recipe.directions }}
        {% if Recipe.User == request.User %}
    <form action="{% url 'delete_recipe' recipe.id %}" method="post">
        {% csrf_token %}
    <input type="submit" id="button" value="Delete">
    </form>
    <p class="links"><a href="{% url 'edit_recipe' recipe.id %}">Edit this recipe</a></p>
        {% endif %}
    <p class="links">
        <a href="{% url 'all_recipes' %}">Back to all Recipes</a>
    </p>
    </fieldset>
</div>
{% endblock %}
