{% extends 'base.html' %}
{% block content %}
<div class="allrecipewrap">
    <fieldset class="allrecipes">
        <legend class="fullrecipe"><h3>{{ recipe.title }}</h3></legend>
        <p class="photo">
            <img src="{{ recipe.photo.url }}" width="400" alt={{ recipe.title }}>
        </p>

    <p class="ingTitle">Ingredients</p>
            <p class="ingredients"> {{ ingredients | safe }}</p>

    <br>
    <p class="ingTitle">Directions</p>
            <p class="ingredients">{{ directions | safe }}</p>
{% if can_edit %}
    <form action="{% url 'delete_recipe' recipe.id %}" method="post">
        {% csrf_token %}
    <input type="submit" id="button" value="Delete">
    </form>
    <p class="links"><a href="{% url 'edit_recipe' recipe.id %}">Edit this recipe</a></p>
{% endif %}
    <p class="links">
        <a href="{% url 'recipes' %}">Back to all Recipes</a>
    </p>
    </fieldset>
</div>
{% endblock %}
