{% extends 'base.html' %}
{% block content %}
<div class="allrecipewrap">
    <fieldset class="allrecipes">
        <legend class="allrecipes"><h3>{{ recipe.title }}</h3></legend>
        <p class="photo">
            <img src="{{ recipe.photo.url }}" width="400" alt={{ recipe.title }}>
        </p>
            {{ recipe.get_category_display }}

    <h2>Ingredients</h2>
            {{ ingredients | safe }}

    <br>
    <h2>Directions</h2>
            {{ recipe.directions }}
{% if recipe.user == request.user %}
    <form action="{% url 'delete_recipe' recipe.id %}" method="post">
        {% csrf_token %}
    <input type="submit" id="button" value="Delete">
    </form>
    <p class="links"><a href="{% url 'edit_recipe' recipe.id %}">Edit this recipe</a></p>
{% endif %}
    <p class="links">
        <a href="{% url 'recipes' %}">Back to all Recipes</a>
    </p>
    </fieldset>
</div>
{% endblock %}
